<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlantTrees</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlantTrees.styles.css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100..700&display=swap" rel="stylesheet" />


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-sm box-shadow mb-3 divnavbar">
            <div class="container child-nav-bar">
                <a class="navbar-brand" asp-area="" asp-page="/Index">PlantTrees</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon material-symbols-outlined">
                            menu
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Index">
                                <span class="material-symbols-outlined">
                                    home
                                </span> Home
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-page="/create">
                                <span class="material-symbols-outlined">
                                    add
                                </span> Create Planter
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-page="/createTrees">
                                <span class="material-symbols-outlined">
                                    park
                                </span> Plant a Tree
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-page="/getPlanters">
                                <span class="material-symbols-outlined">
                                    sort
                                </span> See Planters
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-page="/DeletePlanter">
                                <span class="material-symbols-outlined">
                                    backspace
                                </span> Delete Planters
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>